@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.3;
  background: $bg-primary;
}

.card-svg {
  position: absolute;
  top: 33%;
  right: 12%;
  transition: all 0.3s ease-in-out;
  z-index: 5;
  &:hover {
    .card-svg-color {
      fill: #fff;
    }
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  background: inherit;
  color: $text-time-select;
  border: none;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;

  &-active {
    color: #fff;
  }

  &:hover,
  &:active {
    color: #fff;
  }
}

h1 {
  color: #fff;
  font-size: 300%;
  font-weight: 300;
}

h2 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}

h3 {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
}

p {
  color: $text-faded;
  font-size: 1.1rem;
  font-weight: 400;
}
