@import 'variables';
@import 'globals';
@import 'grid';
@import 'card';

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  opacity: 0.6;
  position: sticky;
  bottom: 0;
  color: $text-faded;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin: auto;
  z-index: 0;
}
.footer a {
  color: $attribution-color;
}

@import 'media';
